.form-control{
    width: 50%;
    margin-left: 25%;
    display: inline-block !important;
}

.search{
    background-color: rgb(70, 202, 180);
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 0px !important;
}

.btn_search{
    display: inline-block !important;
    border: 0px !important;
    background-color: white;
    padding-top: 0.5% !important;
    padding-bottom: 0.5% !important;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 2%;

}